<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_so101_assembly">

    <xacro:include filename="$(find so101_description)/urdf/so101_macro.urdf.xacro"/>
    <link name="world"/>

    <!-- Tay 1: Đặt cách tâm 0.4m về phía trước trục X, xoay ngược lại 180 độ quanh trục Z -->
    <xacro:so101_arm prefix="arm1_" parent="world">
        <origin xyz="0.4 0 0" rpy="0 0 4.7123"/> 
    </xacro:so101_arm>

    <!-- Tay 2: Đặt cách tâm 0.4m về phía sau trục X, hướng giữ nguyên -->
    <xacro:so101_arm prefix="arm2_" parent="world">
        <origin xyz="-0.4 0 0" rpy="0 0 1.5707"/>
    </xacro:so101_arm>

    <!-- Khai báo Plugin gz_ros2_control để Gazebo biết đường đọc file config -->
    <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find so101_gazebo)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>
    
</robot>